name: Deploy Frontend

on:
  push:
    branches:
      - master
    paths:
      - "frontend/**"

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # ------------------------
      # 1. Checkout Repo
      # ------------------------
      - name: Checkout code
        uses: actions/checkout@v4

      # ------------------------
      # 2. Configure AWS via OIDC
      # ------------------------
      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      # ------------------------
      # 3. Build React App
      # ------------------------
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "25"

      - name: Install dependencies
        working-directory: frontend
        run: npm install --legacy-peer-deps

      - name: Build React app
        working-directory: frontend
        run: npm run build

      # ------------------------
      # 4. Upload build to S3
      # ------------------------
      - name: Sync build to S3
        run: |
          aws s3 sync ./frontend/build s3://${{ secrets.S3_BUCKET }}/ --delete

      # ------------------------
      # 5. CloudFront Invalidation
      # ------------------------
      - name: Create CloudFront invalidation
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} \
            --paths "/*"

      # ------------------------
      # 6. Health Check CloudFront
      # ------------------------
      - name: Health Check CloudFront URL
        run: |
          echo "Waiting 20s for CloudFront propagation..."
          sleep 20

          STATUS=$(curl -o /dev/null -s -w "%{http_code}" ${{ secrets.CLOUDFRONT_URL }})

          echo "CloudFront returned HTTP $STATUS"

          if [ "$STATUS" -ne 200 ]; then
            echo "❌ Deployment failed"
            exit 1
          fi

          echo "✅ Deployment successful"
